language: node_js
node_js:
- '4.0'
env:
  global:
  - STAGING_BRANCH=develop
  - PRODUCTION_BRANCH=master
before_install:
- chmod +x ./.build_scripts/deploy.sh
- wget https://github.com/apex/apex/releases/download/v0.10.2/apex_linux_amd64 -O ./apex
- chmod +x ./apex
deploy:
  - provider: script
    skip_cleanup: true
    script: ".build_scripts/deploy.sh"
    on:
      branch: ${PRODUCTION_BRANCH}
